{% extends "Template.html" %}
{% load static %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/contacto.css' %}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static 'js/reporte/producto.js' %}"></script>
{% endblock estilos %}

{% block contenido %}
      
<div>
  <button id="btn-donut" data-url="/reportes/ajax/grafico">Traer Listado Objetos</button>
  <button id="btn-bar" data-url="/reportes/ajax/grafico">Traer Listado Objetos</button>
</div>

<div id = data-container>

</div>

{% endblock contenido %} 