{% extends "reportes/reporteTemplate.html" %}
{% load static %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/contacto.css' %}">
    
    <script src="{% static 'js/reporte/venta.js' %}"></script>
{% endblock estilos %}

{% block contenido %}

<div>
    <button id="btn-producto">Ventas por Producto</button>
    <button id="btn-doc">Ventas por Documento</button>
</div>


<div class = "venta-doc" style="display:none">
  <button id="btn-today-doc" data-url="/reportes/ajax/ventas/doc/today">Ventas Diarias</button>
  <button id="btn-week-doc" data-url="/reportes/ajax/ventas/doc/week">Ventas Semanales</button>
  <button id="btn-month-doc" data-url="/reportes/ajax/ventas/doc/month">Ventas Mensuales</button>
  <button id="btn-year-doc" data-url="/reportes/ajax/ventas/doc/year">Ventas Anuales</button>

</div>

<div class = "venta-producto" style="display:none">
  <button id="btn-today" data-url="/reportes/ajax/ventas/today">Ventas Diarias</button>
  <button id="btn-week" data-url="/reportes/ajax/ventas/week">Ventas Semanales</button>
  <button id="btn-month" data-url="/reportes/ajax/ventas/month">Ventas Mensuales</button>
  <button id="btn-year" data-url="/reportes/ajax/ventas/year">Ventas Anuales</button>
</div>

<div id = "data-container">
  <div id= "data-control-cant"></div>
  <div id= "data-control-cat"></div>
  <div id= "data-pie"></div>
  <div id= "data-pie-total"></div>
  <div id= "data-chart"></div>
</div>

{% endblock contenido %} 