/* Hoja de Estilo CSS para Tablets (420-1024px) */

@media screen and (min-width:420px) and (max-width:1024px) {
    /* Banner */
    .foto_cont {
        text-align: center;
        width: 100%;
        height: auto;
        background-image: url('../fotos/azul.jpg');
        background-size: 100% 100%;
    }
    .titulo1 h1 {
        padding-top: 9%;
        line-height: 1.1; /*espacio enntre lineas*/
        color: white;
        font-size: 400%;
    }
    .titulo2 h1 {
        color: white;
        font-size: 300%;
    }
    .titulo3 {
        padding-top: 20px;
    }
    .titulo3 a {
        text-decoration: none;
    }
    .titulo3 h1 {
        font-family: 'Poppins';
        display: inline;
        line-height: 7.5;
        color: rgb(255, 253, 253);
        font-size: 200%;
        background-color: rgb(177, 9, 9);
        cursor: pointer;
        border-radius: 12px;
        padding: 20px;
    }
    .titulo3 h1:hover {
        font-family: 'Poppins';
        color: black;
        background-color: beige;
    }
    /* Precios */
    .container #col {
        outline: 5px auto black;
        margin-inline: 20px;
    }
    /* Contenedor de Columnas */
    .container {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        height: auto;
        list-style-type: circle;
        font-family: 'Poppins';
        margin: 40px;
    }
    /* Imagen de los Precios */
    .container img {
        border-radius: 50%;
    }
    /* Primer Slider */
    .containerSlider {
        background-color: white;
        display: flex;
        margin: auto;
        align-content: center;
    }
    /* Segundo Slider */
    .containerSlider2 {
        display: flex;
        height: 500px;
        margin: auto;
        align-content: center;
    }
    .title h1 {
        text-align: center;
        font-family: 'Poppins';
    }
    .containerSlider2 h5 {
        text-align: center;
        font-size: 30px;
        font-family: 'Poppins';
    }
    .containerSlider2 img {
        display: flex;
        left: 35%;
        position: relative;
        border-radius: 50%;
    }
}