/* Hoja de Estilo CSS para dispositivos moviles (<420px) */
   
@media screen and (max-width:400px){
    /* Formulario */
    #contenedor {
        display: flex;
        flex-wrap: wrap;
        text-align: center;  
        height:auto;
        margin-top: 20 px;
        margin-bottom: 30px;
        justify-content: space-evenly;
        padding: 30px 0px;
    }
    /* Columna Formulario */
    #form-col{
        margin:30px 0px;
        justify-content: center;
        display: flex;
        outline: 5px auto black;  
    }
     /* Titulo */
    .title{
        text-align: center;
        font-family: 'Poppins';
        margin: 20px 0px;
    }
    /* Boton */
    #btn-add-ins {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}