/* Estilos Generales */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

 /* Estilo para dispositivos grandes */
 @media screen and (min-width:1025px){
    /* navegador */
    #navbarPage {
        background: #1b5583;
        top: 0;
    }
    #navbarNavAltMarkup {
        text-decoration-color: white;
        vertical-align: middle;
    }
    .navbar #navbar-brand{
        color:white;
    }
    .navbar-collapse #a-nav{
        color:white;
        text-align: center;
        padding: 10px 20px;
        text-decoration: none;
        list-style: none;
        font-family: "Poppins";
    }
    #navbarnavUp {
        align-items: flex-end;
    }
    #footer {
        height: auto;
        background-color: rgb(80, 123, 163);
        color: rgba(0, 0, 0, 0.555);
        text-align: center;
        padding: 10px;
        outline: 5px auto black;
    }

    .dropdown-toggle {
        color: white;
    }
    
    .dropdown-menu {
        background: #1b5583;
    }

    .dropdown-item {
        color: white;
        background: #1b5583;
    }
}

/* Estilo para dispositivos medianos (Tablets) */

@media screen and (min-width:420px) and (max-width:1024px) {
    /* navegador */
    #navbarPage {
        background: #1b5583;
        top: 0;
    }
    #navbarNavAltMarkup {
        justify-content: end;
        align-self: flex-end;
        text-decoration-color: white;
        vertical-align: middle;
    }
    .navbar #navbar-brand{
        color:white;
    }
    .navbar-collapse #a-nav{
        color:white;
        text-align: center;
        padding: 10px 20px;
        text-decoration: none;
        list-style: none;
        font-family: "Poppins";
    }
    .footer {
        background-color: rgb(80, 123, 163);
        color: rgba(0, 0, 0, 0.555);
        text-align: center;
        padding: 40px;
    }

    .dropdown-toggle {
        color: white;
    }
    
    .dropdown-menu {
        background: #1b5583;
    }

    .dropdown-item {
        color: white;
        background: #1b5583;
    }
}


/* Estilo para dispositivos pequeños (Celulares) */

@media screen and (max-width:420px) {
    /* NAVEGADOR */
    #navbarPage {
        background: #1b5583;
        top: 0;
    }
    #navbarNavAltMarkup {
        justify-content: end;
        align-self: flex-end;
        text-decoration-color: white;
        vertical-align: middle;
    }
    .navbar #navbar-brand{
        color:white;
    }
    .navbar-collapse #a-nav{
        color:white;
        text-align: center;
        padding: 10px 20px;
        text-decoration: none;
        list-style: none;
        font-family: "Poppins";
    }
    .footer {
        background-color: rgb(80, 123, 163);
        color: rgba(0, 0, 0, 0.555);
        text-align: center;
        padding: 40px;
    }
    
    .dropdown-toggle {
        color: white;
    }
    
    .dropdown-menu {
        background: #1b5583;
    }

    .dropdown-item {
        color: white;
        background: #1b5583;
    }
}