{% extends "Template.html" %}
{% load static %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/modals.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    
{% endblock estilos %}

{% block contenido %}
    <img src="{% static 'images/not_found%}.jpg" class="img-fluid" style="width: auto; height: auto;">
{% endblock contenido %}