{% extends "Template.html" %}
{% load static %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="{% static 'js/slider.js' %}"></script>
{% endblock estilos %}

{% block contenido %}
    <div class="htmega-accourdion-title">
        <h3 data-toggle="htbcollapse" data-target="#htmega-collapse114d5443" class="htmega-items-hedding htb-collapsed" aria-expanded="false">
            ¿Cómo comprar? 
            <span class="accourdion-icon close-accourdion">
            <i aria-hidden="true" class="  Simple-Line-Icons-arrow-up"></i>
            </span>
            <span class="accourdion-icon open-accourdion">
                <i aria-hidden="true" class="  Simple-Line-Icons-arrow-down"></i>
            </span>
        </h3>
    </div>

    <div id="htmega-collapse114d5443" class="htb-collapse" data-parent="#accordionExample14d5443" >
        <div class="accordion-content">
            <p>Para comprar en nuestra página web debes “Iniciar sesión” en el sitio, ingresando correo electrónico y contraseña. En caso de no estar 
                registrado y si desea hacerlo, puede hacer uso del ícono y menú que corresponda a esta opción.
            </p>
            <p><img loading="lazy" class="size-full wp-image-98817 aligncenter" src="/Codigo Fuente/PaginaWeb/FermeWeb/media/ayuda/inicio-de-sesion-640x229.jpg" 
                alt="" width="811" height="290" srcset="/Codigo Fuente/PaginaWeb/FermeWeb/media/ayuda/inicio-de-sesion-640x229.jpg 768w, 
                /Codigo Fuente/PaginaWeb/FermeWeb/media/ayuda/inicio-de-sesion-640x229.jpg 640w,
                 /Codigo Fuente/PaginaWeb/FermeWeb/media/ayuda/inicio-de-sesion-640x229.jpg 400w,
                 /Codigo Fuente/PaginaWeb/FermeWeb/media/ayuda/inicio-de-sesion-640x229.jpg 600w" sizes="(max-width: 811px) 100vw, 811px">
                </p>
                <p>Selecciona el producto que buscas y agrégalo al "carro de compra". Una vez seleccionado todo lo que necesitas, ingresa al Carro de Compras y da clic en <strong>Finalizar compra.</strong>
                </p>
                <p><img loading="lazy" class="size-full wp-image-98818 aligncenter" src="/Codigo Fuente/PaginaWeb/FermeWeb/media/ayuda/finalizar-compra.jpg" alt="" width="265" height="290">
                </p>
                <p>
                    Indícanos si deseas que tus productos sean enviados por despacho, o bien, si gustas retirar en nuestras tiendas. En caso de que requieras el 
                    servicio de despacho a domicilio, ingresa los datos requeridos aquí.
                </p>
                <p>
                    Selecciona el medio de pago. Una vez que se ha realizado el pago, se emitirá una orden de compra, la cual servirá para saber el estado de tu pedido.
                </p>
    </div>
    <div class="single_accourdion htmega-icon-align-right">

        <div class="htmega-accourdion-title">
            <h3 data-toggle="htbcollapse" data-target="#htmega-collapse214d5443" class="htmega-items-hedding htb-collapsed" aria-expanded="false">¿Tiene un costo de despacho mi pedido? 
                <span class="accourdion-icon close-accourdion"><i aria-hidden="true" class="  Simple-Line-Icons-arrow-up"></i>
                </span><span class="accourdion-icon open-accourdion"><i aria-hidden="true" class="  Simple-Line-Icons-arrow-down"></i></span></h3>                                </div>
        </div>
        <div id="htmega-collapse214d5443" class="htb-collapse" data-parent="#accordionExample14d5443" >
            <div class="accordion-content">
                No, tiene costo de despacho dado que solo tenemos retiro en local.                                    </div>
        </div>
        <div class="htmega-accourdion-title">
            <h3 data-toggle="htbcollapse" data-target="#htmega-collapse714d5443" class="htmega-items-hedding" aria-expanded="true">
                ¿En qué días y en qué horario podría llegar mi pedido? 
                <span class="accourdion-icon close-accourdion"><i aria-hidden="true" class="  Simple-Line-Icons-arrow-up"></i>
                </span>
                <span class="accourdion-icon open-accourdion"><i aria-hidden="true" class="  Simple-Line-Icons-arrow-down"></i></span></h3>                                
        </div>
        <div id="htmega-collapse714d5443" class="htb-collapse htb-show" data-parent="#accordionExample14d5443" >
            <div class="accordion-content">
                <p>Los horarios de entrega de tu pedido se realizan de lunes a viernes, desde las 8:30 a las 18:00 horas, y sábado, desde las 8:30 a las 13:00 horas, sin contar feriados ni festivos.

                </p>                                    
            </div>
        </div>
        <div class="htmega-accourdion-title">
            <h3 data-toggle="htbcollapse" data-target="#htmega-collapse2314d5443" class="htmega-items-hedding" aria-expanded="true">
                ¿Qué medios de pago están disponibles para pagar en su sitio web? <span class="accourdion-icon close-accourdion">
                <i aria-hidden="true" class="  Simple-Line-Icons-arrow-up"></i></span><span class="accourdion-icon open-accourdion">
                <i aria-hidden="true" class="  Simple-Line-Icons-arrow-down"></i>
                </span>
            </h3>                              
        </div>
        <div id="htmega-collapse2314d5443" class="htb-collapse htb-show" data-parent="#accordionExample14d5443">
            <div class="accordion-content">
                <p>Los medios de pago que tenemos disponibles para ti son los siguientes:</p>
                <p>Tarjeta de crédito bancarias Visa, Mastercard, Dinners Club International, American Express u otras habilitadas y válidamente emitidas en Chile.</p>
                <p>Tarjetas de débito bancarias acogidas al sistema Redcompra o habilitadas para realizar pagos y transacciones a través del sistema WebPay, válidamente emitidas en Chile por bancos nacionales.</p>
                <p>Transferencia Bancaria a la cuenta corriente de Ferretería Ferme., previamente confirmado a través del Sitio Web al momento de finalizar la compra.</p>                           
            </div>
        </div>
        <div class="single_accourdion htmega-icon-align-right">
            <div class="htmega-accourdion-title">
                <h3 data-toggle="htbcollapse" data-target="#htmega-collapse2414d5443" class="htb-collapsed htmega-items-hedding">
                    ¿Cómo puedo retirar en Tienda un producto que compré en la web? <span class="accourdion-icon close-accourdion">
                        <i aria-hidden="true" class="  Simple-Line-Icons-arrow-up"></i></span><span class="accourdion-icon open-accourdion">
                            <i aria-hidden="true" class="  Simple-Line-Icons-arrow-down"></i></span></h3>                               
            </div>
            <div id="htmega-collapse2414d5443" class="htb-collapse " data-parent="#accordionExample14d5443">
                <div class="accordion-content">
                    <p>Posterior y luego de confirmar el pedido,
                        tienes 5 días hábiles para acercarte a nuestra sucursal designada para la entrega de tus productos. 
                        En caso de que, posterior a los 5 días, no pudiste retirar, procederemos a anular tu pedido, haciendo devolución del pago realizado.</p>                                    </div>
            </div>

        </div>


    </div>







{% endblock contenido %}  