{% extends "Template.html" %}
{% load static %}

{% block estilos %}
     <link rel="stylesheet" href="{% static 'css/index.css' %}">
     
{% endblock estilos %}

{% block contenido %}

    <title>Boleta</title>
    <div class="border border-dark mx-4 mt-2 ">
        <div class="col-12 row container-fluid mb-4 mt-4" > 
            <div class = "col-2 mx-2 mt-2 w-25">
                <img class="img-fluid" src="{% static 'images/logo2.png'%}" alt="" width="60%" height="60%">
            </div>
            <div class="col"></div>
            <div class="col-4 mt-3">
                <h6>RUT :<a id="rutEmp">99.999.999</a> </h6>
                <h6>Razon social: <a id="nomEmp"></a>Fermeweb</h6>
                <h6 id="dirEmp">Isabel Riquelme 2784</h6>
                <h6 id="comCiuEmp">Pedro Aguirre Cerda - Santiago</h6>
            </div>
            <div class="col-4 border border-dark align-self-center">
                <h4 class="text-center text-danger">Rut:<a id="rutEmp">99.999.999</a> </h4>
                <h4 class="text-center text-danger"> Boleta Electronica</h4>
                <h4 class="text-center text-danger">N° {{object.nroBoleta}}</h4>
                {% if object.vigente == False %}
                <h4 class="text-center text-danger">DOCUMENTO ANULADO</h4>
                {% endif %}
            </div>
        </div>
        <div class="col-12 row container-fluid mb-4">
            <div class="col-5 mx-2 border border-dark">
                <h6>Señores: {{object.idVenta.idCliente.nombres}} {{object.idVenta.idCliente.apellidoPaterno}} {{object.idVenta.idCliente.apellidoMaterno}}</h6>
                <h6>Rut: {{object.idVenta.idCliente.rut}}</h6>
                <h6>Direccion: {{object.idVenta.idCliente.direccion}}</h6>
                <h6>Comuna: {{object.idVenta.idCliente.idComuna.nombre}}&nbsp; &nbsp; &nbsp;Ciudad: {{object.idVenta.idCliente.idComuna.idCiudad.nombre}} </h6>
                <h6>Contacto: + 56 {{object.idVenta.idCliente.telefono}}</h6>
            </div>
            <div class="col-2"></div>
            <div class="col-4 mx-2 text-center align-self-center">Fecha Emision: {{object.fechaEmision}}</div>
        </div>
        <div class="row mx-4 table-responsive">
            <table class="table text-center ">
                <thead>
                    <tr>
                        <th >Codigo</th>
                        <th >Descripcion</th>
                        <th >Cantidad</th>
                        <th >Precio</th>
                        <th >Valor</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in Detalles %}
                    <tr>
                        
                        <td>{{item.idProducto_id}}</td>
                        <td>{{item.idProducto.nombre}}</td>
                        <td>{{item.cantidad}}</td>
                        <td>{{item.precioUnitario}}</td>
                        <td>{{item.subtotal}}</td>
                        
                    </tr>
                {% endfor%}
                </tbody>
            </table>
        </div>
        <br><br><br><br>
        <div class="col-12 row mt-2 mb-4 mx-4">
            <div class="col-4 mt-2 ">
                <img src="{% static 'images/TimbreElectronico.jpeg' %}" class="img-fluid">
            </div>
            <div class="col-3"></div>
            <div class="col-3 border border-dark h-100 align-items-center">
                <br>
                <h6>Monto Total: ${{object.total}}</h6>
                <br>
            </div>
        </div>
        <div class="container-fluid">
                <div class="col-12 row border border-dark rounded mx-auto">
                    <div class="col-5">
                        <h6>Nombre: {{object.idVenta.idCliente.nombres}} {{object.idVenta.idCliente.apellidoPaterno}} {{object.idVenta.idCliente.apellidoMaterno}}</h6>
                        <br>
                        <h6>Firma:                                   </a></h6>
                    </div>                
                    <div class="col-4 ">
                        <h6>R.U.T: {{object.idVenta.idCliente.rut}}</h6>
                    </div>               
                    <div class="col-3">
                        <h6>Fecha: {{object.fechaEmision}}</h6>
                    </div>
                </div>
            </div>
            <h6 class="text-end text-danger">CEDIBLE &nbsp; &nbsp;</h6>
        </div>
    </div>

<!-- Opciones para empleados solamente -->
{% if user.groups.all.0.name != "Cliente" %}
    <br>
    <div class="mx-3">
        <a href="{% url 'LISTABOLETA' %}" class="btn btn-primary m-2">Volver a Listado</a>
        {% if object.vigente == True %}
            <a href="{% url 'DELBOLETA' object.nroBoleta %}" class="btn btn-danger m-2">Anular Documento</a>
        {% else %}
            <a href="" class="btn btn-danger disabled m-2">Anular Documento</a>
        {% endif %}
    </div>
{% endif %}

 <!-- Modal para mensajes -->
  <div id="messageModal" class="modal" tabindex="-1">
    <div class="modal-dialog">	
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Mensaje</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="mensaje">
        <div>
        {{mensaje}}
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <a href="{% url 'LISTABOLETA' %}" class="btn btn-primary">Volver a Listado</a>
        </div>
    </div>
    </div>
  </div> 

  <!-- Activador del Modal -->
  {% if mensaje %}
  <script>
    $(document).ready(function(){
      $('#messageModal').modal("toggle")
    });
  </script>
  {% endif %}  


{% endblock contenido%}






