{% extends "Template.html" %}
{% load static %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
	<link rel="stylesheet" href="{% static 'css/modals.css' %}">
    <script src="{% static 'js/carrito.js' %}"></script>
    
{% endblock estilos %}

{% block contenido %}
<main class="container my-4" id="cartList">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Carro({{totalitems}})</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Producto</th>
				<th>Cantidad</th>
				<th>Precio</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			{% for prodId,item in cart_data.items %}
			<tr>
				<td>
					<img src="{{item.imagen}}" width="50" />
					<p><a href="/item/{{prodId}}">{{item.nombre}}</a></p>
				</td>
				<td>
					<input type="number" class="cant{{prodId}}" value="{{item.cant}}" min="1" style="vertical-align: bottom;" />
					<button class="btn btn-sm btn-primary update-item" data-item="{{prodId}}">Actualizar</button>
					<button class="btn btn-sm btn-danger delete-item" data-item="{{prodId}}">Eliminar</i></button>
				</td>
				<td>$ {{item.precio}}</td>
				<td>$ {% widthratio item.precio 1 item.cant %}</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2"></td>
				<th>Total</th>
				<th>$ {{total_amt}}</th>
			</tr>
			{% if totalitems %}
			<tr>
				<td colspan="4" style="text-align: right">
					<button type="button" href="" class="btn btn-dark btn-sm" id="btnModal" data-bs-toggle="modal" data-bs-target="#myModal">Ir a Pagar</a>
				</td>
			</tr>
			{% endif %}
		</tfoot>
	</table>
</main>

<!-- Modal para elegir boleta o factura -->
<div id="myModal" class="modal" tabindex="-1">
  <div class="modal-dialog">	
	<div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Seleccione Tipo de Documento</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body" id="Formulario">
		<form action="" method="POST">
			{% csrf_token %}          
			<!-- Radio Buttons para elegir Boleta o Factura -->
			<div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="RadioDoc" id="radioBoleta" value="Boleta">
					<label class="form-check-label" for="radioBoleta">Boleta</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="RadioDoc" id="radioFactura" value="Factura">
					<label class="form-check-label" for="radioFactura">Factura</label>
				</div>
			</div>
			<input type="submit" name="Login" value="Generar Documento" class="login-submit" />
		</form>
		</div>
	</div>
  </div>
</div>

{% endblock contenido %}