{% extends "Template.html" %}
{% load static %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/contacto.css' %}">
    <script src="{% static 'js/script.js' %}"></script>    
{% endblock estilos %}

{% block contenido %}

  <div class="row">
    <div class="side">
      <h3>Mail de contacto</h3>
      <p>contactocarwash@gmail.com</p>
      <h3>Fono/ Whatsapp</h3>
      <p>+56 9 90754390</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13314.997308295699!2d-70.5976048!3d-33.4558368!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6443bf5983ddccbf!2sParriPollo!5e0!3m2!1ses-419!2scl!4v1598545174408!5m2!1ses-419!2scl"
          width="600" height="400" frameborder="0" style="border:0;" allowfullscreen=""                                
          class="map" aria-hidden="false" tabindex="0"></iframe>                    
    </div>

    <form action="" method="POST" class="form1" onsubmit=""> <!-- Hacerlo funcional despues -->
     
      <div class="contenedor">
        <p>Nombre Completo: </p>
        <input type="text" class="field" minlength="3" maxlength="80" placeholder="Requerido" 
          name="txtNombre" id="txtnombre" required>
        <p> Correo: </p>
        <input type="email" class="field" placeholder="Requerido" name="txtCorreo" id="txtemail" required>
        <p> Asunto:</p>
        <input type="text" class="field" min="18" max=70 name="txtAsunto" id="txtAsunto" required>
        <p> Mensaje </p>
        <input type="password" class="field" minlenght="8" name="txtMensaje" id="txtMensaje" required>
        <input type="submit" class="btn btn-green" value="Enviar">
      </div>
    </form>
  </div>
{% endblock contenido %}
        