{% extends "Template.html" %}
{% load static %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/modals.css' %}">
    <link rel="stylesheet" href="{% static 'css/contacto.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    
{% endblock estilos %}

{% block contenido %}  
        <title>Factura</title>

        <script>

        var idCliente;
        var nombreCliente ;
        var direccionCliente; 
        var telefonoCliente;
        var nombreProducto;
        var precio;
        var cantidad;
        var total;
        var subtotal;
        var p=0;
        var iva;
        var subtotalP=0;
        var fecha= new Date();
        var imprimir;
        var numero_Factura=0;


        function generarFactura(){

        
            idCliente=document.getElementById("idCliente").value;
            nombreCliente=document.getElementById("nombreCliente").value;
            direccionCliente=document.getElementById("direccionCliente").value;
            telefonoCliente=document.getElementById("telefonoCliente").value;



            document.write(fecha.getDate() + "/" + (fecha.getMonth()+1) + "/" + fecha.getFullYear()+"</br>"+"</br>"+"</br>");
            document.write("Identificacion del Cliente:"+'&nbsp;'+idCliente+"<br>"+"<br>");
            document.write("Nombre del Cliente:"+'&nbsp;'+nombreCliente+"<br>"+"<br>");
            document.write("Direccion:"+'&nbsp;'+direccionCliente+"<br>"+"<br>");
            document.write("Telefono:"+'&nbsp;'+telefonoCliente+"<br>"+"<br>"+"<br>");
            
        
            for (subtotal=0; nombreProducto != "*"; subtotal++) {

                

                nombreProducto=prompt('Ingrese Nombre del Producto');
                document.write("Nombre Producto:  "+'&nbsp;'+nombreProducto+'&nbsp;'+'&nbsp;');

                precio=parseFloat(prompt('Ingrese Precio'));
                document.write("Precio:  "+'&nbsp;'+precio+'&nbsp;'+'&nbsp;');

                cantidad=parseInt(prompt('Ingrese Cantidad'));
                document.write("Cantidad:  "+'&nbsp;'+cantidad+'&nbsp;'+'&nbsp;');


                nombreProducto=prompt('Ingrese "*" Para terminar o cualquier tecla para continuar');

                subtotal=precio*cantidad;
                subtotalP=subtotalP+parseInt(subtotal);
                iva=subtotalP*0.19;
                total=subtotalP+iva;
                

                document.write("SubTotal :"+'&nbsp;'+subtotal+"<br>"+"<br>"+"<br>");
            

            } 
            
            document.write("Subtotal : "+'&nbsp;'+subtotalP+"<br>"+"<br>");
            document.write("Iva 19% :"+'&nbsp;'+iva+"<br>"+"<br>");
            document.write("Total :"+'&nbsp;'+total+"<br>"+"<br>");
            document.write('<button onclick="window.print()">Imprimir Factura</button>');
            document.write("</div>");
            

        }

        generarFactura()


        </script>
<!--
        <div class="title" style="text-align: center;">
            <h1 style="padding: 15px; color: rgb(89, 89, 255);">Factura</h1>
        </div>

        
        <div class="container" style="background-image: linear-gradient(to top, #bbe0ff 100%, #48c6ef 0%);">
            <div class="container mr-auto" id="Factura">

                    <label for="idCliente" style="color: blue;">Numero Id</label>
                    <br><input type="text" name="idCliente" id="idCliente" placeholder="idCliente"><br><br>

                    <label for="nombreCliente" style="color: blue;">Nombre del Cliente</label>
                    <br><input type="text" name="nombreCliente" id="nombreCliente" placeholder="Nombre"><br><br>
                    
                    <label for="direccionCliente" style="color: blue;">Direccion</label>
                    <br><input type="text" name="direccionCliente" id="direccionCliente" placeholder="Direccion"><br><br>
                    
                    <label for="telefonoCliente" style="color: blue;">Telefono </label>
                    <br><input type="text" name="telefonoCliente" id="telefonoCliente" placeholder="Telefono"><br><br>
                
                    <input class="btn btn-primary" type="button"  name="Continuar" onclick="generarFactura()"   value="Continuar"/>
            </div> 
        </div>-->
        
        <div class="border border-dark mx-4 mt-2 ">
            <div class="col-12 row container-fluid mb-4 mt-4" > 
                <div class = "col-2 mx-2 mt-2 w-25">
                    <img class="img-fluid" src="{% static 'images/logo2.png'%}" alt="" width="60%" height="60%">
                </div>
                <div class="col"></div>
                <div class="col-4 mt-3">
                    <h6>RUT :<a id="rutEmp">99.999.999</a> </h6>
                    <h6>Razon social: <a id="nomEmp"></a>Fermeweb</h6>
                    <h6 id="dirEmp">Isabel Riquelme 2784</h6>
                    <h6 id="comCiuEmp">Pedro Aguirre Cerda - Santiago</h6>
                </div>
                <div class="col-4 border border-dark align-self-center">
                    <h4 class="text-center text-danger">Rut:<a id="rutEmp">99.999.999</a> </h4>
                    <h4 class="text-center text-danger" id="bolFac">Factura Electronica</h4>
                    <h4 class="text-center text-danger">N° {{object.nroFactura}}</a></h4>
                </div>
            </div>
            <div class="col-12 row container-fluid mb-4">
                <div class="col-5 mx-2 border border-dark">
                    <h6>Señores: {{object.idVenta.idCliente.nombres}} {{object.idVenta.idCliente.apellidoPaterno}} {{object.idVenta.idCliente.apellidoMaterno}} &nbsp; &nbsp; &nbsp; Rut: {{object.idVenta.idCliente.rut}}</h6>
                    <h6>Direccion: {{object.idVenta.idCliente.direccion}}</h6>
                    <h6>Comuna: {{object.idVenta.idCliente.idComuna.nombre}}&nbsp; &nbsp; &nbsp;Ciudad: {{object.idVenta.idCliente.idComuna.idCiudad.nombre}} </h6>
                    <h6>Contacto: + 56 {{object.idVenta.idCliente.telefono}}</h6>
                </div>
                <div class="col-2"></div>
                <div class="col-4 mx-2 text-center align-self-center">Fecha Emision: {{object.fechaEmision}}</div>
            </div>
            <div class="row mx-4 table-responsive">
                <table class="table text-center ">
                    <thead>
                        <tr>
                            <th >Codigo</th>
                            <th >Descripcion</th>
                            <th >Cantidad</th>
                            <th >Precio</th>
                            <th >Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in Detalles %}
                        <tr>
                            
                            <td>{{item.idProducto_id}}</td>
                            <td>{{item.idProducto.nombre}}</td>
                            <td>{{item.cantidad}}</td>
                            <td>{{item.precioUnitario}}</td>
                            <td>{{item.subtotal}}</td>
                            
                        </tr>
                    {% endfor%}
                    </tbody>
                </table>
            </div>
            <br><br><br><br>
            <div class="col-12 row mt-2 mb-4 mx-4">
                <div class="col-4 mt-2 ">
                    <img src="{% static 'images/TimbreElectronico.jpeg' %}" class="img-fluid">
                </div>
                <div class="col-3"></div>
                <div class="col-3 border border-dark h-100 align-items-center">
                    <h6>Monto Total: ${{object.neto}}</h6>
                    <br>
                    <h6>IVA 19 %: ${{object.iva}}</h6>
                    <br>
                    <h6>Monto Total: ${{object.total}}</h6>
                </div>
            </div>
            <div class="container-fluid">
                    <div class="col-12 row border border-dark rounded mx-auto">
                        <div class="col-5">
                            <h6>Nombre: {{object.idVenta.idCliente.nombres}} {{object.idVenta.idCliente.apellidoPaterno}} {{object.idVenta.idCliente.apellidoMaterno}}</h6>
                            <br>
                            <h6>Firma:                                   </a></h6>
                        </div>                
                        <div class="col-4 ">
                            <h6>R.U.T: {{object.idVenta.idCliente.rut}}</h6>
                        </div>               
                        <div class="col-3">
                            <h6>Fecha: {{object.fechaEmision}}</h6>
                        </div>
                    </div>
                </div>
                <h6 class="text-end text-danger">CEDIBLE &nbsp; &nbsp;</h6>
            </div>
        </div>
{% endblock contenido%}






