{% extends "Template.html" %}
{% load static %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/for_estilo.css' %}">
    <script src="{% static 'js/validarRegistroClient.js' %}"></script> 
{% endblock estilos %}
        
{% block contenido %}
    <div class="title">
        <h2>Registro de Usuarios</h2>
    </div>
  <!-- Formulario -->
    <div class="container mr-auto" id="Formulario">
      <form action="{% url 'SIGNUP' %}" method="POST" onsubmit="return validarForRegistro()">
        {% csrf_token %}          
          <div class="form-group">
            <label for="txtrut">Rut</label>
            <input type="text" class="form-control" autofocus="true" placeholder="12345678-9" minlength="9"
              maxlength="10" name=txtRut id="txtrut" required/>
          </div>
          <div class="form-group">
            <label for="txtnombre">Nombre</label>
            <input type="text" class="form-control" autofocus="true" placeholder="Nombre" minlength="3" 
               maxlength="30" name="txtNombre" id="txtnombre" required/>
          </div>
          <div class="form-group">
            <label for="txtapaterno">Apellido Paterno</label>
            <input type="text" class="form-control" autofocus="true" placeholder="Apellido Paterno" minlength="3" 
               maxlength="20" name="txtApPaterno" id="txtapaterno" required/>
          </div>
          <div class="form-group">
            <label for="txtamaterno">Apellido Materno</label>
            <input type="text" class="form-control" autofocus="true" placeholder="Apellido Materno" minlength="3" 
               maxlength="20" name="txtApMaterno" id="txtamaterno" required/>
          </div>
          <div class="form-group">
            <label for="txtdireccion">Dirección</label>
            <input type="text" class="form-control" autofocus="true" placeholder="Direccion" maxlength="40" minlength="5"
              name="txtDireccion" id="txtdireccion" required />
          </div>
          <div class="form-group">
            <label for="txtnumero">Telefono</label>
            <input type="number" class="form-control" autofocus="true" placeholder="Correo" name="txtNumero" 
               id="txtnumero" required />
          </div>
          <div class="form-group">
            <label for="txtcorreo">Correo</label>
            <input type="mail" class="form-control" autofocus="true" placeholder="Correo" name="txtCorreo" 
               id="txtcorreo" required />
          </div>
          <div class="form-group">
            <label for="txtclave1">Contraseña</label>
            <input type="password" class="form-control" autofocus="true" placeholder="Contraseña" 
               name="clave1"  id="txtclave1" required/>
          </div>
          <div class="form-group">
            <label for="txtclave2">Repetir Contraseña</label>
            <input type="password" class="form-control" autofocus="true" placeholder="Repetir Contraseña" 
               name="clave2" id="txtclave2" required/>
          </div>
          <input type="submit" name="Login" value="Registrar" class="login-submit" />
      </form>
    </div>
    {% if ans == 1%}
        <script>
            setTimeout(function(){ alert("Usuario ya Existe"); }, 500);
        </script>
    {% endif %}   
    {% if ans == 2%}
        <script>
            setTimeout(function(){ alert("Las contraseñas no coinciden"); }, 500);
        </script>
    {% endif %}  
    {% if ans == 3 %}
        <script>
            setTimeout(function(){alert("Email ya existente en la base de datos")}; 500);
        </script>     
    {% endif %}     
{% endblock contenido %}

    