{% extends "Template.html" %}
{% load static %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/galeria_xs.css' %}">
    <link rel="stylesheet" href="{% static 'css/galeria_sm.css' %}">
    <link rel="stylesheet" href="{% static 'css/galeria_md.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js'"></script>
    <link rel="stylesheet" href="{% static 'css/galeria_Lightbox.css' %}">
    <script src="{% static 'js/galeria_Lightbox.js' %}"></script>

{% endblock estilos %}

{% block contenido %}
    <!-- Titulo -->
    <div class="title">
      <h1>Galería</h1>
    </div>

      <div class="container-fluid">
          {% for item in galeria %}
            <div class="col-xs-6 col-sm-4 col-md-2" id="col">
              <img class="img-fluid" id ="img" src="{{item.imagen.url}}" onclick="openModal();currentSlide({{ forloop.counter }})">  
            </div>
          {% endfor %}    
      </div>
  
  <!-- Lightbox, extraido de w3Schools -->
<div id="myModal" class="modal">
  <span class="close cursor" id="close_cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">
    
      {% for item in galeria %}
        <div class="mySlides">
          <div class="numbertext"> {{forloop.counter}} / {{galeria|length}}</div>
          <img src="{{item.imagen.url}}" style="width:100%">
        </div>
      {% endfor %}
      
      <!-- Next/previous controls -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
  
      <!-- Caption text -->
      <div class="caption-container">
        <p id="caption"></p>
      </div>
    </div>
</div>

{% endblock contenido %}