{% extends "Template.html" %}
{% load static %}

{% block estilos %}
   <link rel="stylesheet" href="{% static 'css/for_estilo.css' %}">
{% endblock estilos %}

{% block contenido %}
   <div class="title">
        <h2>Actualización de Productos</h2>
    </div>
  <!-- Formulario -->
    <div class="container mr-auto" id="Formulario">
      <form action="{% url 'UPDATE' %}" method="POST" onsubmit="">
        {% csrf_token %}          
          <div class="form-group">
            <label for="txtnombre">Nombre</label>
            <input type="text" class="form-control" autofocus="true" placeholder="Nombre" minlength="3" 
               maxlength="80" name="txtNombre" id="txtnombre" value="{{ins.nombre}}"  required>
          </div>
          <div class="form-group">
            <label for="txtprecio">Precio</label>
            <input type="text" class="form-control" autofocus="true" placeholder="Precio" minlength="3" 
               maxlength="80" name="txtPrecio" id="txtprecio" value="{{ins.precio}}" required>
          </div>
          <div class="form-group">
            <label for="txtstock">Stock</label>
            <input type="text" class="form-control" autofocus="true" placeholder="Stock" name="txtStock" 
               id="txtstock" value="{{ins.stock}}"  required>
          </div>
          <div class="form-group">
            <label for="txtdesc">Descripción</label>
            <textarea class="form-control" autofocus="true" placeholder="Descripcion (Opcional)" 
               name="txtDesc" id="txtdesc" rows="3" value="{{ins.desc}}"></textarea>
          </div>
          <div class="form-group">
            <label for="txtproducto">Producto</label>
            <select class="form-control" autofocus="true" placeholder="Seleccione" 
               name="txtProducto" id="txtproducto" value="{{ins.producto}}" required>
                {% for producto in lista_productos %}
                  <option>{{producto.tipo}}</option>                                                    
                {% endfor %}
            </select>    
          </div>
          <input type="submit" name="Login" value="Registrar" class="login-submit">
      </form>
    </div>
  
  <div class="underlay-photo"></div>
  <div class="underlay-black"></div>

{% endblock contenido %}  