{% extends "Template.html" %}
{% load static %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/modals.css' %}">
    <script src="{% static 'js/carrito.js' %}"></script>
    
{% endblock estilos %}

{% block contenido %}
    <div class="card-body mt-4 mx-4" >
        <div class="mt-4 "></div>
        <div class="col-md-12 row" >
            <div class="col-1 row">
            </div>
                <div class="col-5" style="height: fit-content; width: fit-content;">
                    <img src={{object.imagen.url}}  class="img-fluid">
                </div>
                <div class="col-5">
                    <h2>{{object.nombre}}</h2>
                    <a class="text-secondary">item {{object.idProducto}}</a><br> <br>
                    <h3 class="text-danger">$ {{object.precio}}</h3>
                    <br>
                    <div class="card-body" style="background-color: white; ">
                        <a >{{object.descripcion}}</a>
                    </div>
                    <br>
                    <br>
                    <input type="hidden" class="prodId" value="{{object.idProducto}}" />
                    <input type="hidden" class="imagen" value="{{object.imagen.url}}" />
                    <input type="hidden" class="nomProd" value="{{object.nombre}}" />
                    <input type="hidden" class="precio" value="{{object.precio}}" />
                    <input type="hidden" class="stock" value="{{object.stock}}" />
                    <a class="text-secondary">Stock: {{object.stock}}</a>
                    {% if object.stock > 0 %}
                        <input type="number" value="1" min="1" max="{{object.stock}}" class="form-control" id="prodCant" style="width: min-content;" />
                        <br>
                        <button class="btn btn-danger" type="button" id="addToCartBtn">Agregar al Carrito</button>
                    {% else %}
                        <input type="number" value="1" min="1" max="{{object.stock}}" class="form-control" id="prodCant" style="width: min-content;" disabled/>
                        <br>
                        <button class="btn btn-danger" type="button" id="addToCartBtn" disabled>Agregar al Carrito</button>
                    {% endif %}
                </div>
        </div>
    </div>
{% endblock contenido %}