{% extends "Template.html" %}
{% load static %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/modals.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    
{% endblock estilos %}

{% block contenido %}
    <div class="card-body mt-4 mx-4" >
        <div class="mt-4 "></div>
        <div class="col-md-12 row" >
            <div class="col-1 row">
            </div>
                <div class="col-5" style="height: fit-content; width: fit-content;">
                    <img src={{object.imagen.url}}  class="img-fluid">
                </div>
                <div class="col-5">
                    <h2>{{object.nombre}}</h2>
                    <a class="text-secondary">item {{object.idProducto}}</a><br> <br>
                    <h3 class="text-danger">$ {{object.precio}}</h3>
                    <br>
                    <div class="card-body" style="background-color: white; ">
                        <a >{{object.descripcion}}</a>
                    </div>
                    <br>
                    <br>
                    
                    <button class="btn btn-danger" type="submit">Agregar al Carrito</button>
                </div>
        </div>
    </div>
{% endblock contenido %}