{% extends "Template.html" %}
{% load static %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    
{% endblock estilos %}

{% block contenido %}

<div class="container-fluid p-auto m-auto">
    {% if user.groups.all.0.name == "Empleado" or user.is_superuser or user.is_staff %}
    <h2 class="text-center mt-4"> Productos Escasos</h2>
    <br>
    <div class = "container-fluid m-2 mx-auto overflow-auto">
    <table class ="table table-bordered border-dark text-center">
        <thead>
        <tr>
            <th >ID</th>
            <th >Producto</th>
            <th >Stock</th>
            <th >Stock Critico</th>
            <th >¿Ordenar?</th>
        </tr>
        </thead>
        <tbody>
        {% for item in Productos_StockCrit %}
        <tr>
            <th >{{item.idProducto}}</th>
            <td>{{item.nombre}}</td>
            <td>{{item.stock}}</td>
            <td>{{item.stockCrit}}</td>
            <td><a href="{% url 'ORDENCOMPRA' item.idProducto %}" id="enviarData" class="btn btn-primary" role="button" 
                data-idProd="{{item.idProducto}}" data-idProv="{{item.idProveedor_id}}">Ordenar</a></td>
        </tr>
        {% empty %}
        <tr>
            <th>Vacio</th>
            <td>Vacio</td>
            <td>Vacio</td>
            <td>Vacio</td>
            <td>Vacio</td>
        </tr>
        {% endfor %}    
        </tbody>
    </table>    
    </div>

    <br>
    <br>

    {% endif %}

    <h2 class="text-center">Listado de Ordenes de Compra</h2>
    <br>
    <div class="container-fluid mx-auto overflow-auto table-responsive-sm">
    <table class ="table table-sm table-bordered border-dark text-center">
        <thead>
        <tr>
            <th>ID</th>
            <th>Fecha Pedido</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Valor</th>
            <th>Empleado</th>
            <th>Revisar</th>
        </tr>
        </thead>
        <tbody>
        {% for orden in object_list %}
        <tr>
            <th>{{orden.idOrdenCompra}}</th>
                <td>{{orden.fechaPedido}}</td>
                <td>{{orden.idProducto}}</td>
                <td>{{orden.cantidad}}</td>
                <td>{{orden.total}}</td>
                <td>{{orden.idEmpleado}}</td>
                <td><a href="/ordenCompra/{{orden.idOrdenCompra}}" class="btn btn-primary" role="button">Detalles</a></td>
        </tr>
        {% empty %}
        <tr>
            <th>Vacio</th>
            <td>Vacio</td>
            <td>Vacio</td>
            <td>Vacio</td>
            <td>Vacio</td>
            <th>Vacio</th>
            <td>Vacio</td>
        </tr>
        {% endfor %}    
        </tbody>
    </table>    
    </div>
</div>
{% endblock contenido%}