{% extends "Template.html" %}
{% load static %}

{% block estilos %}
  <link rel="stylesheet" href="{% static 'css/for_estilo.css' %}">
{% endblock estilos %}

{% block contenido %}

  <div class="title">
    <h2>Iniciar Sesion</h2>
  </div>
  <!-- Formulario -->
  <div class="container">
    <div class="container mr-auto" id="Formulario">
      <form action="{% url 'LOGIN' %}" method="POST" onsubmit="">
        {% csrf_token %}          
          <div class="form-group">
            <label for="usuario">Usuario</label>
            <input type="text" class="form-control" autofocus="true" placeholder="Nombre Usuario" 
             name="usuario" id="txtusuario" required/>
          </div>
          <div class="form-group">
            <label for="clave">Contraseña</label>
            <input type="password" class="form-control" autofocus="true" placeholder="Contraseña" 
             name="clave" id="txtclave" required/>
          </div>
          <input type="submit" name="Login" value="Ingresar" class="login-submit" />
      </form>
    </div>

    <div class="underlay-photo"></div>
    <div class="underlay-black"></div> 
  </div>
  {% if sw == 1%}
    <script>
        setTimeout(function(){ alert("Usuario y/o Contraseña Incorrecta. Intente Nuevamente"); }, 500);
    </script>
  {% endif %}   
{% endblock contenido %}
