{% extends "Template.html" %}
{% load static %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/nosotros_xs.css' %}">
    <link rel="stylesheet" href="{% static 'css/nosotros_sm.css' %}">
    <link rel="stylesheet" href="{% static 'css/nosotros_md.css' %}">
{% endblock estilos %}
    
{%block contenido %}
    <!-- For para recorrer myv -->
    {% for item in myv %}
      <div class="container">
          <!-- Vision -->
          <div class="col-xs-6 col-sm-6 col-md-6 my-auto" id="col">
            <h1>Vision</h1>
            <h3>{{item.vision}}</h3>
          </div>
          <!-- Imagen Vision -->
          <div class="col-xs-6 col-sm-6 col-md-6 my-auto" id="col">
            <img class="img-fluid" src="{%static 'fotos/empleados/emp1.jpg'%}">
          </div>
      </div>
      <div class="container">
        <!-- Imagen Mision -->
        <div class="col-xs-6 col-sm-6 col-md-6 my-auto" id="col">
          <img class="img-fluid" src="{%static 'fotos/empleados/emp4.jpg'%}">
        </div>
        <!-- Mision -->
        <div class="col-xs-6 col-sm-6 col-md-6 my-auto" id="col">
          <h1>Nuestra Mision</h1>
          <h3>{{item.mision}}</h3>
        </div>
      </div>
      
    {% endfor %}
  
{% endblock contenido %}
      