{% extends "Template.html" %}
{% load static %}
{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/for_estilo.css' %}">
    <script src="{% static 'js/validarRegistroOrden.js' %}"></script>
{% endblock estilos %}
        
{% block contenido %}
  <div class="title">
    <h2>Crear Orden de Compra</h2>
  </div>

  <!-- Jquery para Selector -->
  <script>
    function changeSelector(){
      var elems = $('#selectorProducto option[data-prov="'+$("#selectorProveedor").val()+'"]');
      $('#selectorProducto option').not(elems).hide();
      elems.show();
      $('#selectorProducto').children().prop('selected', false);
      //$("#selectorTipo").filter('data("fam")="' + idFamilia + '"]').show();
    };
    function calculoTotal(){
      var total = ($('#txtCantidad').val()) * ($('#txtValor').val());
      $('#txtTotal').val(total);
    };
  </script>

  <!-- saber si recibe datos o no -->
  {% if item is not None %}
    <script>
      $(document).ready(function(){
        var idProd = "{{item.idProducto}}";
        var idProv = "{{item.idProveedor_id}}";
        $('#selectorProducto').value = idProd;
        $('#selectorProveedor').value= idProv;
        $('#selectorProducto option[value="'+ idProd +'"]').prop('selected', 'selected');
        $('#selectorProveedor option[value="'+ idProv +'"]').prop('selected', 'selected');
      });
    </script>
  {% endif %}

  <!-- Formulario -->
    <div class="container mr-auto" id="Formulario">
      <form action="{% url 'ORDENCOMPRA' %}" method="POST" onsubmit="return validarForRegistro()">
        {% csrf_token %}          

          <br>
            <h2>Producto</h2>
          <br>
          <div class="d-flex flex-wrap">
            <div class="form-group me-2">
              <label for="txtproveedor">Proveedor</label>
              <br>
              <select name="txtProveedor" class="input-100" id="selectorProveedor" onchange=changeSelector() required>
              <option value ="" selected >Seleccionar</option>
              {% for prov in proveedor %}
                <option value = "{{prov.idProveedor}}">{{prov.nombres}}</option>
              {% endfor %}
              </select>
              <a class="m-2" href="{% url 'REGPROV' %}"><img src="{% static 'images/plus-lg.svg'%}"></a> 
            </div>
    
            <div class="form-group me-2">
              <label for="txtproducto">Producto</label>
              <br>
              <select name="txtProducto" class="input-100" id="selectorProducto" required>
              <option value ="" selected >Seleccionar</option>
              {% for prod in productos %}
                <option value = "{{prod.idProducto}}" data-prov="{{prod.idProveedor_id}}">{{prod.nombre}}</option>
              {% endfor %}
              </select>
              <a class="m-2" href="{% url 'REGP' %}"><img src="{% static 'images/plus-lg.svg'%}"></a> 
            </div>
          </div>

        <br>
        <h2>Stock</h2>
        <br>
        <div class="form-group">
          <label for="txtCantidad">Cantidad</label>
          <input type="number" class="form-control" autofocus="true" placeholder="Stock" name="txtCantidad" min="1" 
            id="txtCantidad" onchange=calculoTotal() required/>
        </div>

        <div class="form-group">
          <label for="txtValor">Valor Unitario</label>
          <input type="number" class="form-control" autofocus="true" placeholder="Valor Unitario" name="txtValor" min="1" 
            id="txtValor" onchange=calculoTotal() required/>
        </div>

        <div class="form-group">
          <label for="txtTotal">Total Compra</label>
          <input type="number" class="form-control" autofocus="true" placeholder="Total" name="txtTotal" min="1" 
            id="txtTotal" required readonly/>
        </div>

        <div class="form-group">
          <label for="txtDescripcion">Comentarios</label>
            <textarea  class="form-control" autofocus="true" placeholder="Descripcion" minlength="3" 
               maxlength="200" name="txtDescripcion" id="txtDescripcion" required></textarea>
        </div>          
        <div class="d-flex flex-wrap">
          <input type="submit" name="Enviar" value="Enviar Orden " class="login-submit"/>
          <input type="submit" name="Guardar" value="Guardar Orden " class="login-submit"/>
        </div>
      </form>
    </div>

<!-- Modal para mensajes -->
<div id="messageModal" class="modal" tabindex="-1">
  <div class="modal-dialog">	
	<div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Mensaje</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body" id="mensaje">
			<div>
      {{mensaje}}
			</div>
		</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <a href="{% url 'LISTORDENCOMPRA' %}" class="btn btn-primary">Volver a Listado</a>
      </div>
	</div>
  </div>
</div> 

<!-- Script para abrir modal en caso de que haya mensaje -->
{% if mensaje %}
<script>
  $(document).ready(function(){
    $('#messageModal').modal("toggle")
  });
</script>
{% endif %}

{% endblock contenido %}