{% extends "Template.html" %}
{% load static %}
{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/for_estilo.css' %}">
    <script src="{% static 'js/script.js' %}"></script> 
{% endblock estilos %}
        
{% block contenido %}
  <div class="title">
    <h2>Registro de Productos</h2>
  </div>

  <!-- Jquery para Selector -->
  <script>
    function changeSelector(){
      var elems = $('#selectorTipo option[data-fam="'+$("#selectorFamilia").val()+'"]');
      $('#selectorTipo option').not(elems).hide();
      elems.show();
      $('#selectorTipo').children().prop('selected', false);
      //$("#selectorTipo").filter('data("fam")="' + idFamilia + '"]').show();
    }
  </script>

  <!-- Formulario -->
    <div class="container mr-auto" id="Formulario">
      <form action="" method="POST" onsubmit="return validarForRegistro()">
        {% csrf_token %}          

          <div class="form-group">
            <label for="txtnombre">Nombre</label>
            <input type="text" class="form-control" autofocus="true" placeholder="Nombre Producto" minlength="3" 
               maxlength="30" name="txtNombre" id="txtnombre" required/>
          </div>

          <div class="form-group">
            <label for="txtprecio">Precio</label>
            <input type="number" class="form-control" autofocus="true" placeholder="Precio" name="txtPrecio" 
               id="txtprecio" required />
          </div>

          <div class="form-group">
            <label for="stock">Stock</label>
            <input type="number" class="form-control" autofocus="true" placeholder="Stock" name="txtStock" 
               id="txtstock" required />
          </div>

          <div class="form-group">
            <label for="txtstockcritico">Stock Critico</label>
            <input type="number" class="form-control" autofocus="true" placeholder="Stock Critico" name="txtStockCritico" 
               id="txtstockcritico" required />
          </div>

          <div class="form-group">
            <label for="txtfvenn">Fecha Vencimiento</label>
            <input type="date" class="form-control" autofocus="true" placeholder="txtFvenn" name="txtFvenn" 
            id="txtfvenn" />
          </div>
          
          <div class="d-flex flex-wrap">
            <div class="form-group me-2">
              <label for="idfamproducto">Familia Producto</label>    
              <br>
              <select name="familiaProducto" class="input-100" id="selectorFamilia" onchange="changeSelector()" required>
                <option value ="" selected >Seleccionar</option>
                {% for familia in familia_producto %}
                <option value = "{{familia.idFamiliaProducto}}">{{familia.descripcion}}</option>
                {% endfor %}
              </select>
            </div>
      
            <div class="form-group me-2">
              <label for="idtipoproducto">Tipo Producto</label>
              <br>
              <select name="TipoProducto" class="input-100" id="selectorTipo" required>
                <option value="" data-fam="">Seleccionar</option>
                {% for tipo in tipo_producto %}
                <option value = "{{tipo.idTipoProducto}}" data-fam="{{tipo.idFamProducto_id}}">{{tipo.descripcion}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="txtproveedor">Proveedor</label>
            <br>
            <select name="txtProveedor" class="input-100">
              <option value = "">Seleccionar</option>
              {% for prov in proveedor %}
                <option value = "{{prov.idProveedor}}">{{prov.nombres}}</option>
              {% endfor %}
            </select>
            <a class="m-2" href="{% url 'REGPROV' %}"><img src="{% static 'images/plus-lg.svg'%}"></a> 
          </div>

          <div class="form-group">
            <div class ="flex-row">
              <label for="txtimagen">Imagen</label>
              <input type="file" class="form-control" id="txtimagen">
            </div>
          </div>

          <div class="form-group">
            <label for="txtDescripcion">Descripcion</label>
            <textarea class="form-control" autofocus="true" placeholder="Descripcion" minlength="3" 
              maxlength="200" name="txtDescripcion" id="txtDescripcion" required></textarea>
          </div>          

          <input type="submit" name="Login" value="Registrar" class="login-submit" />
      </form>
    </div>

<!-- Modal para mensajes -->
<div id="messageModal" class="modal" tabindex="-1">
  <div class="modal-dialog">	
	<div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Mensaje</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body" id="mensaje">
			<div>
      {{mensaje}}
			</div>
		</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <a href="{% url 'INDEX' %}" class="btn btn-primary">Volver a Inicio</a>
      </div>
	</div>
  </div>
</div> 

<!-- Activador del Modal -->
{% if mensaje %}
<script>
  $(document).ready(function(){
    $('#messageModal').modal("toggle")
  });
</script>
{% endif %}    

{% endblock contenido %}