{% extends "Template.html" %}
{% load static %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/for_estilo.css' %}">
    <script src="{% static 'js/validarRegistroClient.js' %}"></script> 
{% endblock estilos %}
        
{% block contenido %}

    <div class="title">
        <h2>Registro de Usuarios</h2>
    </div>

  <!-- Jquery para Selector -->
  <script>
    // Anidar Selector de Region y Ciudad
    function changeSelectorRegion(){ 
      var elems = $('#selectorCiudad option[data-reg="'+$("#selectoRegion").val()+'"]');
      $('#selectorCiudad option').not(elems).hide();
      elems.show();
      $('#selectorCiudad').children().prop('selected', false);
      // Anidar en Caso de Cambiar el 1 combobox
      $('#selectorComuna option').hide();
      $('#selectorComuna').children().prop('selected', false);
    }
    // Anidar Selector de Ciudad y Comuna
    function changeSelectorCiudad(){ 
      var elems = $('#selectorComuna option[data-ciu="'+$("#selectorCiudad").val()+'"]');
      $('#selectorComuna option').not(elems).hide();
      elems.show();
      $('#selectorComuna').children().prop('selected', false);
    }
  </script>

  <!-- Formulario -->
    <div class="container mr-auto" id="Formulario">
      <form action="{% url 'SIGNUP' %}" method="POST" onsubmit="return validarForRegistro()">
        {% csrf_token %}    

          <div class="form-group">
            <label for="txtrut">Rut</label>
            <input type="text" class="form-control" autofocus="true" placeholder="12345678-9" minlength="9"
              maxlength="10" name=txtRut id="txtrut" required/>
          </div>

          <div class="form-group">
            <label for="txtnombre">Nombre</label>
            <input type="text" class="form-control" autofocus="true" placeholder="Nombre" minlength="3" 
               maxlength="30" name="txtNombre" id="txtnombre" required/>
          </div>

          <div class="form-group">
            <label for="txtapaterno">Apellido Paterno</label>
            <input type="text" class="form-control" autofocus="true" placeholder="Apellido Paterno" minlength="3" 
               maxlength="20" name="txtApPaterno" id="txtapaterno" required/>
          </div>

          <div class="form-group">
            <label for="txtamaterno">Apellido Materno</label>
            <input type="text" class="form-control" autofocus="true" placeholder="Apellido Materno" minlength="3" 
               maxlength="20" name="txtApMaterno" id="txtamaterno" required/>
          </div>

          <div class="form-group">
            <label for="txtdireccion">Dirección</label>
            <input type="text" class="form-control" autofocus="true" placeholder="Direccion" maxlength="40" minlength="5"
              name="txtDireccion" id="txtdireccion" required />
          </div>

          <div class="d-flex flex-wrap">
            <div class="form-group me-2">
              <label for="selectoRegion">Región</label>    
              <br>
              <select name="region" class="input-100" id="selectoRegion" onchange="changeSelectorRegion()" required>
                <option value ="" selected >Seleccionar</option>
                {% for region in region %}
                <option value = "{{region.idRegion}}">{{region.nombre}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group me-2">
              <label for="selectorCiudad">Ciudad</label>    
              <br>
              <select name="ciudad" class="input-100" id="selectorCiudad" onchange="changeSelectorCiudad()" required>
                <option value ="" selected >Seleccionar</option>
                {% for ciudad in ciudad %}
                <option value = "{{ciudad.idCiudad}}" data-reg="{{ciudad.idRegion_id}}">{{ciudad.nombre}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group me-2">
              <label for="selectorComuna">Comuna</label>    
              <br>
              <select name="comuna" class="input-100" id="selectorComuna" required>
                <option value ="" selected >Seleccionar</option>
                {% for comuna in comuna %}
                <option value = "{{comuna.idComuna}}" data-ciu="{{comuna.idCiudad_id}}">{{comuna.nombre}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="txtnumero">Telefono</label>
            <input type="number" class="form-control" autofocus="true" placeholder="912345678" name="txtNumero" 
               id="txtnumero" required minlength="9" maxlength="9"/>
          </div>

          <div class="form-group">
            <label for="txtcorreo">Correo(Usuario)</label>
            <input type="mail" class="form-control" autofocus="true" placeholder="Correo" name="txtCorreo" 
               id="txtcorreo" required minlength="5"/>
          </div>

          <div class="form-group">
            <label for="txtclave1">Contraseña</label>
            <input type="password" class="form-control" autofocus="true" placeholder="Contraseña" 
               name="clave1"  id="txtclave1" required minlength="4" maxlength="12"/>
          </div>

          <div class="form-group">
            <label for="txtclave2">Repetir Contraseña</label>
            <input type="password" class="form-control" autofocus="true" placeholder="Repetir Contraseña" 
               name="clave2" id="txtclave2" required minlength="4" maxlength="12" />
          </div>

          <input type="submit" name="Login" value="Registrar" class="login-submit" />
      </form>
    </div>

      <!-- Modal para mensajes -->
  <div id="messageModal" class="modal" tabindex="-1">
    <div class="modal-dialog">	
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Mensaje</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="mensaje">
        <div>
        {{mensaje}}
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <a href="{% url 'INDEX' %}" class="btn btn-primary">Volver a Inicio</a>
        </div>
    </div>
    </div>
  </div> 

  <!-- Activador del Modal -->
  {% if mensaje %}
  <script>
    $(document).ready(function(){
      $('#messageModal').modal("toggle")
    });
  </script>
  {% endif %}    

{% endblock contenido %}

    