{% extends "Template.html" %}
{% load static %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="{% static 'js/slider.js' %}"></script>
{% endblock estilos %}

{% block contenido %}

<h2> hola </h2>
{% for item in object_list %}
    <div>
        <div>
            <h2>{{item.nombre}}</h2>
            <h3>{{item.precio}}</h3>
        </div>
        <div>
            <h4>{{item.descripcion}}</h4>
        </div>
    </div>
{%endfor%}

{% endblock contenido%}