{% extends "Template.html" %}
{% load static %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    
{% endblock estilos %}

{% block contenido %}
<h2 class="text-center mt-3">Listado de Productos</h2>
<br>
<div class="d-flex flex-wrap col-12 row justify-content-around align-items-center">
<h2></h2>
{% for item in object_list %}
        <div class="col-3 ms-3">
            <div>
                <a href="/item/{{item.idProducto}}">
                    <div class="col-5" style="height: fit-content; width: fit-content;">
                        {% if item.stock >0 %}
                            <img src={{item.imagen.url}}  class="img-fluid"  width="250px" height="250px">
                        {% else %}
                            <img src={{item.imagen.url}}  class="img-fluid"  width="250px" height="250px">
                            <div class="overlay">
                                <img src="{% static 'images/soldout.png' %}" width="250px" height="250px">
                            </div>
                        {% endif %}    
                    </div>
                </a>
                <h2>{{item.nombre}}</h2>
                <div>
                    <h6 >{{item.descripcion}}</h6>
                </div>s
                <h3 class="text-danger">${{item.precio}}</h3>
            </div>
        </div>
{%endfor%}
</div>
{% endblock contenido%}